doctype html
html
  head
    title Oficina Fácil
    link(rel='stylesheet', href='css/style.css')
  body
    a.animated-button10(href='#')
      span
      span
      span
      span
      Clique Aqui
