{% extends "base.html" %}

{% block title %}Perfil - OFICINA FÁCIL{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <h1>Meu Perfil</h1>
            <p class="email"><strong>Email:</strong> {{ user.email }}</p>
        </div>
        <div class="profile-images">
            <div>
                <p><strong>Foto de Perfil:</strong></p>
                {% if user.foto_perfil %}
                    <img src="{{ url_for('static', filename='uploads/' + user.foto_perfil) }}" alt="Foto de Perfil" class="profile-img">
                {% else %}
                    <img src="{{ url_for('static', filename='uploads/default-profile.jpg') }}" alt="Foto de Perfil" class="profile-img">
                {% endif %}
            </div>
        </div>
        <div class="profile-body">
            <div class="profile-info">
                <h3>Informações Pessoais</h3>
                <p><strong>Nome:</strong> {{ user.username }}</p>
                <p><strong>Data de criação:</strong> {{ user.date_created.strftime('%d/%m/%Y') }}</p>
                
                <h3>Informações do Veículo</h3>
                <p><strong>Marca:</strong> {{ user.marca }}</p>
                <p><strong>Modelo:</strong> {{ user.modelo }}</p>
                <p><strong>Ano de Fabricação:</strong> {{ user.ano_fabricacao }}</p>
                <p><strong>Cor:</strong> {{ user.cor }}</p>
                <p><strong>Placa:</strong> {{ user.placa }}</p>
                <p><strong>Renavam:</strong> {{ user.renavam }}</p>
            </div>
        </div>
        
        <div class="profile-footer">
            <a href="{{ url_for('edit_profile') }}" class="btn">Editar Perfil</a>
            <a href="{{ url_for('home') }}" class="btn btn-home">Voltar à Home</a>
        </div>
    </div>
</div>
{% endblock %}
